  h1 {
    color: yellow;
    font: verdana;
        }
    #niner{
    color:maroon;
    }
    #uncle-gavin{
    color:navy;
    }
    .credit{
    color:LIME;    
    }
    #jewish{
    color:indigo;
    }
    .tobig{
    size:25px;
    }
    .activities{
    color:maroon;
    }
    td{
    color:blue;
    }
    li{
    color:navy;
    }
